[submodule "dependencies/pyroki"]
	path = dependencies/pyroki
	url = https://github.com/chungmin99/pyroki.git
[submodule "dependencies/robot_descriptions.py"]
	path = dependencies/robot_descriptions.py
	url = https://github.com/uynitsuj/robot_descriptions.py.git
[submodule "dependencies/rby1-sdk"]
    path = dependencies/rby1-sdk
    url = https://github.com/RainbowRobotics/rby1-sdk.git
